header {
  margin: auto;
  font-size: 50px;
  font-family: fantasy;
  color: #f2cb8a;
  background-color: #587726;
  justify-content: center;
  text-align: center;
}

.header-with-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blog-app-jhs.s3.amazonaws.com/dino+header.jpg');
  /* Replace with the path to your background image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #f2cb8a;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.header-text {
  font-size: calc(1.5em + .9vw);
  line-height: 0.9;
}

.header-paragraph {
  font-size: calc(.9em + .9vw);
  line-height: 1.1;
}

body {
  margin: 0;
}

.home-pics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
}

.home-pics>div {
  flex: 1;
  margin-left: 1%;
  margin-right: 5%;
  position: relative;
}


.home-pics img {
  width: 40%;
  height: auto;
}

/* Divider { 
  color: #f2cb8a;
} */

.homeDivider {
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  font-family: fantasy;
  font-size: 1.3em;
  color: #f2cb8a;
  font-weight: 300;

}

.home-pics {
  display: flex;
  justify-content: center;
}


.image-container {
  position: relative;
  min-width: 220px;
  margin-bottom: 2em;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  border: 3px solid rgb(103, 13, 13);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  text-align: center;
  font-size: 70px;
  color: #f2cb8a;
  font-family: fantasy;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.706);
  padding-top: 28%;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}

.image-container:hover .overlay {
  opacity: 1;
}


main {
  background-color: #34431c;
}

.dino-divider {
  color: #f2cb8a;
  font-size: 20px;
  font-family: fantasy;

  margin: auto;
  text-align: center;
}

#dinoListHeader h1 {
  color: #f2cb8a;
  font-size: 2em;
  font-family: fantasy;

  margin: auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.addDinoButton {
  /* border: 3px solid rgb(103, 13, 13); */
  background-color: rgb(103, 13, 13);
  color: #f2cb8a;
  font-weight: bold;
  font-family: fantasy;

}

.dinoListTitle {
  margin-top: 45px;
}

#dinoCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #ffffff20;
  border-radius: 10px;
  margin-top: 3em;

}
