header {
  margin: 20px;
  border: 5px solid #6d8455;
  font-size: 50px;
  font-family: fantasy;
  color: #f2cb8a;
  background-color: #34431c;
  justify-content: center;
  text-align: center;
};

.home-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  border: 5px solid #5B5E42;
  background-color: #373715;
};

.home-pics div {
  margin: 10px;
}

.add-dinosaur-modal {
  background-color: #34431c !important;
;}

footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #ffffff20;
  border-radius: 10px;
  margin-top: 3em;
}